HoC.Client/Service References/CacheService/HoCCacheService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HoC.Common" />
  <xs:element name="RetrieveCacheItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCacheItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HoC.Common" minOccurs="0" name="RetrieveCacheItemResult" nillable="true" type="q1:ClientCacheItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreCacheItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HoC.Common" minOccurs="0" name="value" nillable="true" type="q2:ClientCacheItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInterNodeObjectTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HoC.Common" minOccurs="0" name="sourceNode" nillable="true" type="q3:Node" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HoC.Common" minOccurs="0" name="cacheItem" nillable="true" type="q4:ServerCacheItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInterNodeObjectTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoInterNodeObjectTransferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndInterNodeObjectTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HoC.Common" minOccurs="0" name="sourceNode" nillable="true" type="q5:Node" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndInterNodeObjectTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndInterNodeObjectTransferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheHealth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheHealthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HoC.Common" minOccurs="0" name="GetCacheHealthResult" nillable="true" type="q6:CacheHealth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>