HoC.Server.Core/Service References/CacheServiceReference/CacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICacheService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HoC.Common" />
      <xsd:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://localhost:8010/HoCCacheService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICacheService_RetrieveCacheItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCacheItem" />
  </wsdl:message>
  <wsdl:message name="ICacheService_RetrieveCacheItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCacheItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_StoreCacheItem_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreCacheItem" />
  </wsdl:message>
  <wsdl:message name="ICacheService_DoInterNodeObjectTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInterNodeObjectTransfer" />
  </wsdl:message>
  <wsdl:message name="ICacheService_DoInterNodeObjectTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInterNodeObjectTransferResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_EndInterNodeObjectTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:EndInterNodeObjectTransfer" />
  </wsdl:message>
  <wsdl:message name="ICacheService_EndInterNodeObjectTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndInterNodeObjectTransferResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="ICacheService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_GetCacheHealth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheHealth" />
  </wsdl:message>
  <wsdl:message name="ICacheService_GetCacheHealth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheHealthResponse" />
  </wsdl:message>
  <wsdl:portType name="ICacheService">
    <wsdl:operation name="RetrieveCacheItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/RetrieveCacheItem" message="tns:ICacheService_RetrieveCacheItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/RetrieveCacheItemResponse" message="tns:ICacheService_RetrieveCacheItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreCacheItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/StoreCacheItem" message="tns:ICacheService_StoreCacheItem_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInterNodeObjectTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/DoInterNodeObjectTransfer" message="tns:ICacheService_DoInterNodeObjectTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/DoInterNodeObjectTransferResponse" message="tns:ICacheService_DoInterNodeObjectTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndInterNodeObjectTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/EndInterNodeObjectTransfer" message="tns:ICacheService_EndInterNodeObjectTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/EndInterNodeObjectTransferResponse" message="tns:ICacheService_EndInterNodeObjectTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/Stop" message="tns:ICacheService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/StopResponse" message="tns:ICacheService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheHealth">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/GetCacheHealth" message="tns:ICacheService_GetCacheHealth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/GetCacheHealthResponse" message="tns:ICacheService_GetCacheHealth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICacheService" type="tns:ICacheService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICacheService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RetrieveCacheItem">
      <soap12:operation soapAction="http://tempuri.org/ICacheService/RetrieveCacheItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCacheItem">
      <soap12:operation soapAction="http://tempuri.org/ICacheService/StoreCacheItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoInterNodeObjectTransfer">
      <soap12:operation soapAction="http://tempuri.org/ICacheService/DoInterNodeObjectTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndInterNodeObjectTransfer">
      <soap12:operation soapAction="http://tempuri.org/ICacheService/EndInterNodeObjectTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/ICacheService/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheHealth">
      <soap12:operation soapAction="http://tempuri.org/ICacheService/GetCacheHealth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CacheService">
    <wsdl:port name="NetTcpBinding_ICacheService" binding="tns:NetTcpBinding_ICacheService">
      <soap12:address location="net.tcp://localhost:1234/HoCCacheService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1234/HoCCacheService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ITLINFOSYS\NitinStephen_Koshy</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>